<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{book.title}}</title>
</head>
<body>


{% if book.image %}
<img style="width: 200px; height: 200px" src="{{ book.image.url }}">
{% endif %}


<h1>{{book.title}}</h1>
<h2>{{book.author}}</h2>
<br>
<p> Год: {{book.year}}</p>
<p> Рейтинг: {{book.raiting}}</p>
<p> Издатель {{book.publisher.title}}</p>
<p> Язык {{book.publisher.get_language_display}}</p>
{% if book.genre %}
<p> Жанр: {{book.genre.title}}</p>
{% else %}
<p> Жанр: не указан </p>
{% endif %}
<p> Время публикации на сайте: {{book.created_at}}</p>
<p> Тэги: </p>
{% for tag in book.tags.all %}
<b> <a href="{% url 'get_tag_books' tag.title %}"> {{tag.title}} </a> </b>
{% endfor %}
<br>
<br>

<b> <a href="{% url 'delete_book' book.id %}">Удалить книгу</a></a>

</body>
</html>