{% extends 'base.html' %}

{% block title %}
    Главная по книгам
{% endblock %}

{% block content %}


    {% if request.user.is_authenticated %}
    <b> <h2>  <a href="{% url 'add_book' %}">Добавить книгу</a> </b> </h2>

    <h3>  Вы успешно вошли как {{request.user.username}}! </h3>
     <b> <h3>  <a href="{% url 'logout' %}">Выход</a> </b>
    {% else %}

    <b> <h2>  <a href="{% url 'register' %}">Регистрация</a> </b> </h2>
    <b> <h2>  <a href="{% url 'login' %}">Вход</a> </b>

    {% endif %}

    <h1>
        Список книг
    </h1>
    {% for book in books %}
        <p>
            Название: <a href="{% url 'get_book' book.id %}">
                {{book.title}}
            </a>
        </p>
        <p>Автор: {{book.author}}</p>
        <p>Жанр: {{book.genre.title}}</p>
        <p>Год: {{book.year}}</p>
        <br>

    {% endfor %}

{% endblock %}





