{% extends 'base.html' %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}


<body>
    <h1>Поиск книг</h1>

    {% if books %}

    <h3> {{ result_string }}</h3>
    {% for book in books %}
        <p>
            Название: <a href="{% url 'get_book' book.id %}">
                {{book.title}}
            </a>
        </p>
        <p>Автор: {{book.author}}</p>
        <p>Жанр: {{book.genre.title}}</p>
        <p>Год: {{book.year}}</p>
        <p>Цена {{book.price}}</p>
        <br>

    {% endfor %}

    {% else %}
        <h2> Книг с такими фильтрами нет! </h2>
    {% endif %}
</body>

{% endblock %}
